h1{
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}
#grid .left{
    border-right: 1px solid rgb(192, 154, 154);
    width : 100px;
    margin : 0;
    padding : 20px;
    padding-left: 32px;
}
body{
    margin : 0;
}
#grid{
    display : grid;
    grid-template-columns: 150px 1fr;
}
#grid .right{
    padding-left: 32px;

}
#grid #article{
    padding-left: 25px;
}
@media(max-width:800px){
    #grid{
        display:block;
    }
    #grid .left{
    border-right: none;
    }
    h1{
        border-bottom: none;
    }
}
a{
    color : black;
    text-decoration: none;
}